# Copy this file to onix-secrets.env and fill in the private keys locally.
# Docker Compose loads this file and ONIX reads the values through YAML env placeholders.
# Do not commit onix-secrets.env.

# BAP
BAP_NETWORK_PARTICIPANT=baptest1.remiges.tech
BAP_KEY_ID=76EU7hLaRVgvjgZ3GmHp9bsLsd6JkN49q5J999HwfSgiuUjqgwPoPU
BAP_SIGNING_PUBLIC_KEY=7LJJz6deJdC5hM1Dt363UdQ7q3pjpT2DPD2hiUlAEuQ=
BAP_ENCR_PUBLIC_KEY=jG+92bEvAYolHcKW8KNbIX5ttFzAJFpRzakB18Ww8W4=
BAP_SIGNING_PRIVATE_KEY=2PB0CSQ/553cM2p7/Ch8IfgcvyWkkcLk/rSxdmvPtJ0=
BAP_ENCR_PRIVATE_KEY=AF+ls18culsFpWNUJnCuxQYfdTGNFv7c9XuLRBNt81g=

# BPP
BPP_NETWORK_PARTICIPANT=bpptest1.remiges.tech
BPP_KEY_ID=76EU8vHpdM241YVVTWhb2yrQTgQufMK2tHtPyWy1QjrraesZC7drEU
BPP_SIGNING_PUBLIC_KEY=tUAauSpLQ5r05/TNqtwLstzVxFbqhOtZ4GvBFmO9u8Y=
BPP_ENCR_PUBLIC_KEY=N0HCsmx2aP29zgfosOHSc28yncbCH6Hx5jWhw0nqWSc=
BPP_SIGNING_PRIVATE_KEY=oL70fT56YiBeoPtO2KfF+gvPmqu+88WMEAsItkXrsQI=
BPP_ENCR_PRIVATE_KEY=6v0A1lLQ2j8i9SHk5ZWErLZEErM7zJi/iOdFatWGMgg=
